spring:
  config:
    activate:
      on-profile: test

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/fillinv?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: root

  jpa:
    database: mysql
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        # N+1 문제를 1+1로 줄여주는 옵션 (페이징 불가능 문제 해결)
        default_batch_fetch_size: 100

  data:
    web:
      pageable:
        default-page-size: 10
        one-indexed-parameters: false # 페이지 번호를 0부터 시작

  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: DEBUG

jwt:
  secret: vmfhaltkwmdkswkdsigkdfhwldkadrhiqwudyqwiudqdw
  expiration-time: 360000000 # 100H

PSP:
  toss:
    secretKey: ${TOSS_SECRET_KEY}
    url: https://api.tosspayments.com
